h2{
  margin-bottom:  60px;
  text-align: center;
  color: #725C3A;
}
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
}

.carousel-item {
  flex: 0 0 100%;
  
}

.card {
  margin: 10px;
  height: 500px;
  padding: 20px;
  border-color: #809672;
  text-align: center;
}
.card-title{
  text-align: center;
}
img{
 height: 350px;
 align-content: center;
 border-radius: 20px 20px;
}
.btn-primary{
  margin-top: 14px;
  background-color:#809672 ;
  border: none;
 
}
.btn-primary:hover{
  background-color: #B3B792;
}
.carousel-control-prev,
.carousel-control-next {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color:#B3B792; /* Background color */
    border-radius: 50%; /* Make it circular */
    font-size: 24px; /* Font size */
    opacity: 0.5; /* Opacity */
    transition: opacity 0.2s; /* Add transition for smooth hover effect */
    top: 45%; 
}
